<h1>Peerlift 100</h1>
<p>Connecting high-school students to incredible opportunities</p>
<button>Log in/Sign Up</button>
<br>
<a href="/scholarship_guides">View Scholarships</a>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
	<meta property="og:image" content="https://peerlift.org/media/images/Peerlift%20FB%20Logo.png" />
	<meta property="og:description" content="Discover opportunities that make college possible in seconds." />
	<meta property="og:url"content="https://peerlift.org/index.html" />
	<meta property="og:title" content="Peerlift" />
  <title>Peerlift</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="main.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="main.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-104681104-1', 'auto');
    ga('send', 'pageview');

      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_org'] = 'B0XAZ';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
        if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
        g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
        o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
        y="rec";g.shutdown=function(i,v){g(y,!1)};g.restart=function(i,v){g(y,!0)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(){};
      })(window,document,window['_fs_namespace'],'script','user');
  </script>
</head>
<body>
  <div class="index-header-section">
    <video playsinline autoplay loop muted>
      <source src="media/backgrounds/frontpage.mp4" type="video/mp4">
      </video>
      <div class="container">
        <img src="media/logo/whiteText.png">
        <h2>Creating access to opportunity.</h2>
        <a href="#opportunities" class="scroll-arrow"><i class="fa fa-caret-down"></i></a>
      </div>
    </div>
    <div id="navbar">
      <div class="container">
        <a href="index.html"><img src="media/logo/grayText.png"></a>
        <a id="menu-button"><i class="fa fa-search"></i></a>
        <nav>
          <ul>
            <a id="loginMobile" href="login.html"><div>Sign Up / Login</div></a>
            <a id="opportunities-dropdown"><li>Opportunities <i class="fa fa-caret-down"></i></li></a>
            <div id="opportunities-menu">
              <div class="column-wrapper">
                <a href="awards.html">
                  <i><img src="media/images/icons/awards.png"/></i>Awards
                </a>
                <a href="flyins.html">
                  <i><img src="media/images/icons/flyins.png"/></i>College Fly-Ins
                </a>
                <a href="internships.html">
                  <i><img src="media/images/icons/internships.png"/></i>Internships
                </a>
              </div>
              <div class="column-wrapper">
                <a href="scholarships.html">
                  <i><img src="media/images/icons/scholarships.png"/></i>Scholarships
                </a>
                <a href="studyabroad.html">
                  <i><img src="media/images/icons/studyAbroad.png"/></i>Study Abroad
                </a>
                <a href="summerprograms.html">
                  <i><img src="media/images/icons/summerPrograms.png"/></i>Summer Programs
                  </a>
              </div>
            </div>
            <a href="#mission"><li>Mission</li></a>
            <a href="team.html"><li>Our Team</li></a>
            <a href="getinvolved.html"><li>Get Involved</li></a>
            <a href="donate.html"><li>Donate</li></a>
          </ul>
        </nav>
        <a id="loginBTN" href="login.html">
          <button>Sign Up</button>
        </a>
      </div>
    </div>
    <div class="body">
      <div id="opportunities" class="opportunities">
        <div class="container">
          <h1>Opportunities</h1>
          <div class="column-wrapper">
            <div class="opportunity-box">
              <a href="scholarships.html">
                <div class="opportunity-icon">
                  <div class="scholarships-icon">
                    <div class="scholarships-img"></div>
                  </div>
                </div>
                <p>Scholarships</p>
              </a>
            </div>
            <div class="opportunity-box">
              <a href="flyins.html">
                <div class="opportunity-icon">
                  <div class="flyins-icon">
                    <div class="flyins-img"></div>
                  </div>
                </div>
                <p>College Fly-Ins</p>
              </a>
            </div>
            <div class="opportunity-box">
              <a href="summerprograms.html">
                <div class="opportunity-icon">
                  <div class="summerprograms-icon">
                    <div class="summerprograms-img"></div>
                  </div>
                </div>
                <p>Summer Programs</p>
              </a>
            </div>
          </div>
          <div class="column-wrapper">
            <div class="opportunity-box">
              <a href="awards.html">
                <div class="opportunity-icon">
                  <div class="awards-icon">
                    <div class="awards-img"></div>
                  </div>
                </div>
                <p>Awards</p>
              </a>
            </div>
            <div class="opportunity-box">
              <a href="studyabroad.html">
                <div class="opportunity-icon">
                  <div class="studyabroad-icon">
                    <div class="studyabroad-img"></div>
                  </div>
                </div>
                <p>Study Abroad</p>
              </a>
            </div>
            <div class="opportunity-box">
              <a href="internships.html">
                <div class="opportunity-icon">
                  <div class="internships-icon">
                    <div class="internships-img"></div>
                  </div>
                </div>
                <p>Internships</p>
              </a>
            </div>
          </div>
          <button id="addYourOwn"><h3>Add your own opportunity</h3></button>
          <form id="opportunityForm">
            <i class="fa fa-times"></i>
            <div class="column-wrapper">
              <h4>Your Name</h4><input type="text" id="name">
            </div>
            <div class="column-wrapper">
              <h4>Your Email</h4><input type="text" id="email">
            </div>
            <h4>What do you want to share?</h4>
			<div id="dropdowns">
              <select id="OpportunitySelect1" class="form-control OpportunitySelect">
			    <option value="none">Select Opportunity Type</option>
                <option value="awards">Awards</option>
                <option value="flyins">Fly-Ins</option>
			    <option value="internships">Internships</option>
                <option value="scholarships">Scholarships</option>
			    <option value="abroad">Study Abroad</option>
			    <option value="summer">Summer Programs</option>
			  </select>
              <textarea id="details1"></textarea>
			</div>
			<select id="addMoreOpportunities" class="form-control OpportunitySelect">
			  <option value="none">Add Another Opportunity</option>
              <option value="awards">Awards</option>
              <option value="flyins">Fly-Ins</option>
			  <option value="internships">Internships</option>
              <option value="scholarships">Scholarships</option>
			  <option value="abroad">Study Abroad</option>
			  <option value="summer">Summer Programs</option>
			</select>
            <button type='button' id="addOpportunityBTN"><h3>Submit</h3></button>
            <span>Close</span>
          </form>
        </div>
      </div>
      <div id="mission" class="mission">
        <div id="slide-left"><i class="fa fa-angle-left"></i></div>
        <div id="slide-right"><i class="fa fa-angle-right"></i></div>
        <div class="peersoverprofit">
          <div class="container">
            <div class="mission-text">
              <h1>Peers Over Profit</h1>
              <h2>As a 501(c)(3) nonprofit, Peerlift is completely free.</h2>
            </div>
            <div class="mission-graphics">
              <i class="fa fa-check-circle"></i>
            </div>
            <div class="mission-text">
              <p>We connect high school students of all backgrounds to a proven selection of exceptional opportunities for college.</p>
            </div>
          </div>
        </div>
        <div class="studentdriven">
          <div class="container">
            <div class="mission-text">
              <h1>Student-Driven</h1>
              <h2>In our 20-person team,</h2>
            </div>
            <div class="mission-graphics">
              <h1>100%</h1>
              <h2>are 18 years old or younger.</h2>
            </div>
            <div class="mission-text">
              <p>Peerlift is the only major opportunities platform exclusively run by current students.</p>
            </div>
          </div>
        </div>
        <div class="uniqueapproach">
          <div class="container">
            <div class="mission-text">
              <h1>A Unique Approach</h1>
              <h2>We offer a curated set of 350 opportunities. All offer financial aid.</h2>
            </div>
            <div class="mission-graphics">
              <i class="fa fa-bullseye"></i>
            </div>
            <div class="mission-text">
              <p>No more searching through millions of unhelpful scholarships. We focus on helping low- and middle- income students find resources for success.</p>
            </div>
          </div>
        </div>
        <div class="provencontent">
          <div class="container">
            <div class="mission-text">
              <h1>Proven Content</h1>
              <h2>Completely crowdsourced.</h2>
            </div>
            <div class="mission-graphics">
              <i class="fa fa-heart"></i>
            </div>
            <div class="mission-text">
              <p>College freshmen from across the country shared what made higher education a reality for them. Each opportunity you see was invaluable to another student like you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <div class="container">
        <ul class="socialmedia">
          <li><a href="https://www.facebook.com/peersoverprofit/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="index.html"><img src="media/logo/whiteIcon.png"></a></li>
          <li><a href="mailto:contact@peerlift.org" target="_blank"><i class="fa fa-envelope-square"></i></a></li>
        </ul>
        <div class="footer-nav-wrapper">
          <nav class="footer-nav">
            <ul>
              <li>Our Organization</li>
              <hr>
              <a href="index.html#mission"><li>Mission</li></a>
              <a href="team.html"><li>Our Team</li></a>
              <a href="getinvolved.html"><li>Get Involved</li></a>
              <a href="donate.html"><li>Donate</li></a>
            </ul>
          </nav>
          <nav class="footer-nav">
            <ul>
              <li>Opportunities</li>
              <hr>
              <a href="awards.html"><li>Awards</li></a>
              <a href="flyins.html"><li>College Fly-Ins</li></a>
              <a href="internships.html"><li>Internships</li></a>
              <a href="scholarships.html"><li>Scholarships</li></a>
              <a href="studyabroad.html"><li>Study Abroad</li></a>
              <a href="summerprograms.html"><li>Summer Programs</li></a>
            </ul>
          </nav>
        </div>
        <p>Peerlift is an official 501(c)(3) nonprofit. Your donation is tax-deductible.</p>
      </div>
    </div>

    <!-- FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
    <script src="firebase.js"></script>
	<script>
	  $("#slide-left").click(function () {
	  	ga('send', 'event', 'Mission', 'arrowClick', 'Left Arrow');
	  });
	  $("#slide-right").click(function () {
		ga('send', 'event', 'Mission', 'arrowClick', 'Right Arrow');
	  });

	  //add Opportunities
		var dropdownCount = 1;
		function addDropdown(selected) {
			var dropdownId = "OpportunitySelect" + dropdownCount;

			var dropdowns = document.getElementById("dropdowns");
			var select = document.createElement("select");
			select.id = dropdownId;
			select.className = "form-control OpportunitySelect";
			var option = document.createElement("option");
			option.textContent = "Select Opportunity Type";
			var option1 = document.createElement("option");
			option1.textContent = "Internships";
			option1.value = "internships";
			var option2 = document.createElement("option");
			option2.textContent = "Summer Programs";
			option2.value = "summer";
			var option3 = document.createElement("option");
			option3.textContent = "Scholarships";
			option3.value = "scholarships";
			var option4 = document.createElement("option");
			option4.textContent = "Fly-Ins";
			option4.value = "flyins";
			var option5 = document.createElement("option");
			option5.textContent = "Study Abroad";
			option5.value = "abroad";
			var option6 = document.createElement("option");
			option6.textContent = "Awards";
			option6.value = "awards";
			var textArea = document.createElement("textArea");
			textArea.id = "details" + dropdownCount;

			select.appendChild(option);
			select.appendChild(option1);
			select.appendChild(option2);
			select.appendChild(option3);
			select.appendChild(option4);
			select.appendChild(option5);
			select.appendChild(option6);
			dropdowns.appendChild(select);
			dropdowns.appendChild(textArea);

			$("#" + dropdownId + " option[value='"+ selected +"']").prop('selected', 'selected')
		}
		function resetForm() {
			dropdownCount = 1;

			var dropdowns = document.getElementById("dropdowns");
			dropdowns.innerHTML = "";

			var select = document.createElement("select");
			select.id = "OpportunitySelect" + dropdownCount;
			select.className = "form-control OpportunitySelect";
			var option = document.createElement("option");
			option.textContent = "Select Opportunity Type";
			var option1 = document.createElement("option");
			option1.textContent = "Internships";
			option1.value = "internships";
			var option2 = document.createElement("option");
			option2.textContent = "Summer Programs";
			option2.value = "summer";
			var option3 = document.createElement("option");
			option3.textContent = "Scholarships";
			option3.value = "scholarships";
			var option4 = document.createElement("option");
			option4.textContent = "Fly-Ins";
			option4.value = "flyins";
			var option5 = document.createElement("option");
			option5.textContent = "Study Abroad";
			option5.value = "abroad";
			var option6 = document.createElement("option");
			option6.textContent = "Awards";
			option6.value = "awards";
			var textArea = document.createElement("textArea");
			textArea.id = "details" + dropdownCount;

			select.appendChild(option);
			select.appendChild(option1);
			select.appendChild(option2);
			select.appendChild(option3);
			select.appendChild(option4);
			select.appendChild(option5);
			select.appendChild(option6);
			dropdowns.appendChild(select);
			dropdowns.appendChild(textArea);
		}
		$("#addMoreOpportunities").change(function() {
			selected = $('#addMoreOpportunities :selected').val();
			if(selected != "none"){
				dropdownCount++;
				addDropdown(selected);
				$("#addMoreOpportunities option[value='none']").prop('selected', 'selected');
			}
		});
		$("#addOpportunityBTN").click(function() {
			$('html,body').animate({scrollTop: $("#addYourOwn").offset().top-250}, 'slow');
			for (var i = 1; i <= dropdownCount; i++) {
				if ($("#details" + i).val() != "") {
					var type = $('#OpportunitySelect' + i +  ' :selected').text();
					$.ajax({
						type: 'POST',
						url: 'php/addOpportunity.php',
						data: {email: $("#email").val(), name: $("#name").val(), details: $("#details" + i).val(), type: type},
						success: function(response) {
							console.log(response);
						}
					});
				}
			}
			$("#addYourOwn h3").html("Thank You!");
			ga('send', 'event', 'AddOpportunity', 'click', 'Submit');
			resetForm();
		});
	</script>
	<script>
  window.intercomSettings = {
    app_id: "i68br1b8"
  };
</script>

  </body>
  </html>
