<div class="footer-section">
  <div class="container">
    <ul class="socialmedia">
      <li><a href="https://www.facebook.com/peersoverprofit/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="index.html"><img  src="media/logo/whiteIcon.png"></a></li>
      <li><a href="mailto:contact@peerlift.org" target="_blank"><i class="fa fa-envelope-square"></i></a></li>
    </ul>
      <div class="footer-nav-wrapper">
        <nav class="footer-nav">
          <ul>
            <li>Our Organization</li>
            <hr>
            <a href="index.html#mission"><li>Mission</li></a>
            <a href="team.html"><li>Our Team</li></a>
            <a href="getinvolved.html"><li>Get Involved</li></a>
            <a href="donate.html"><li>Donate</li></a>
          </ul>
        </nav>
        <nav class="footer-nav">
          <ul>
            <li>Opportunities</li>
            <hr>
            <a href="#"><li>Awards</li></a>
            <a href="#"><li>College Fly-Ins</li></a>
            <a href="#"><li>Internships</li></a>
            <a href="#"><li>Scholarships</li></a>
            <a href="#"><li>Study Abroad</li></a>
            <a href="#"><li>Summer Programs</li></a>
          </ul>
        </nav>
      </div>
      <p>Peerlift is an official 501(c)(3) nonprofit. Your donation is tax-deductible.</p>
    </div>
</div>
