<!-- Footer -->
<footer class="footer font-small pt-4" style="background-color: #bdbdbd;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

<div class="row">
          <!-- Content -->
          <div style="margin-left:50%; margin-bottom: 10px;">
  <a href="/"><img src="/media/logo/whiteIcon.png" style="height: 50px;"></a>

</div>
</div>


      <!-- Grid row -->
      <div class="row text-center">


        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">


        <div class="col-md-3 mb-md-0 mb-3"> </div>

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Our Organization</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/static_pages/team">Our Team</a>
              </li>
              <li>
                <a href="/static_pages/getinvolved">Get Involved</a>
              </li>
              <li>
                <a href="/static_pages/donate">Donate</a>
              </li>
            </ul>
            

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"> Opportunities </h5>

            <ul class="list-unstyled">
              <li>
                <a href="/scholarship_guides">Scholarships</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <div class="col-md-3 mb-md-0 mb-3"> </div>

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      Peerlift is an official 501(c)(3) nonprofit. Your donation is tax-deductible.
    </div>
    <!-- Copyright -->

  </footer>
