<!-- This is Jung's -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/media/logo/grayText.png" width="170" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <li class="nav-item">
              <a class="nav-link dropdown-toggle" id="opportunities-nav-button" onclick="alertnow()">Opportunities</a>
            </li>
                <!-- <a class="nav-link" href="/scholarship_guides"> Opportunities <span class="sr-only">(current)</span></a> -->
            <li class="nav-item">
                <a class="nav-link" href="#"> Our Team </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Get Involved </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Donate </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/auth/google_oauth2">Sign in</a>
                    <a class="dropdown-item" href="/me">My Overview</a>
                    <a class="dropdown-item" href="#">My Scholarships</a>
                    <a class="dropdown-item" href="#">My Task</a>
                    <a class="dropdown-item" href="#">My Files</a>
                    <a class="dropdown-item"> <%= link_to 'Log Out', destroy_path, method: :post if current_user %> </a>

                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

    <div id="opportunities-menu-div" style="background-color:powderblue; display:none">
                  <div class="col-xs-6" style="float:left;width:15%">
                    <a href="#">
                      <i><img src="/media/images/icons/awards.png" width=50px/></i>Awards
                    </a>
                  </div>
                  <div class="col-xs-6" style="float:left;width:15%">
                    <a href="#">
                    <i><img src="/media/images/icons/flyins.png" width=50px/></i>College Fly-Ins
                    </a>
                  </div>
                  <div class="col-xs-6" style="float:left;width:15%">
                    <a href="#">
                      <i><img src="/media/images/icons/internships.png" width=50px/></i>Internships
                    </a>
                  </div>
                  <div class="col-xs-6" style="float:left;width:15%">
                    <a href="#">
                      <i><img src="/media/images/icons/scholarships.png" width=50px/></i>Awards
                    </a>
                  </div>
                  <div class="col-xs-6" style="float:left;width:15%">
                    <a href="#">
                    <i><img src="/media/images/icons/studyAbroad.png" width=50px/></i>College Fly-Ins
                    </a>
                  </div>
                  <div class="col-xs-6">
                    <a href="#">
                      <i><img src="/media/images/icons/summerPrograms.png" width=50px/></i>Internships
                    </a>
                  </div>
              </div>
