<%= render partial: 'partials/navbar2' %>

<div class="container">

<h1 style="color: black;"> Edit your profile </h1>

<%= render 'form', user: @current_user %>

<%= button_to 'Back', "/me"%>

</div>
