<h1>Tasks Dashboard</h1>
<div> 
	<h3> Tasks to do </h3>

</div>

<div> 
	<h3> Tasks you've done </h3>

<%= @user_tasks.each do |user_task| %>
  <p>
    <strong> Scholarship ID:</strong>
    <%= user_task.scholarship_id %>
  </p>

  <p>
    <strong>Essays to do:</strong>
    <%= user_task.essay_count %>
  </p>
<% end %>
</div>


